@{

}

@section Scripts {
    <script src="~/dist/bundle.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
}


<div id="app">
    <el-input placeholder="Логин" v-model="login"></el-input>
    <el-input placeholder="Пароль" v-model="password"></el-input>

    <el-button v-on:click="auth()">Войти</el-button>


    {{login}} - {{password}} - {{message}}
    <br/>
    
    <span>{{user}}</span>
</div>
