@{

}

@section Scripts {
    <script src="~/dist/app_index.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
}


<div id="app">
    <el-container>
        <el-header>
            <print-layer-header></print-layer-header>
        </el-header>
        <el-main>
            <el-row>
                <el-button v-on:click="getOrders()">GetOrders</el-button>
            </el-row>
            <router-link to="/root">Перейти к Root</router-link>
            <router-view></router-view>

        </el-main>
        <el-footer>Footer</el-footer>
    </el-container>
</div>
