@{

}

@section Scripts {
    <script src="~/dist/bundle.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
}


<div id="app">
    <el-row>
        <el-button>Default</el-button>
    </el-row>
    <span>
        {{message}}
    </span>
    <span>...</span>
</div>
